bin/ 
obj/
packages/
node_modules/

.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
docker-compose.dcproj
*.md
hosts
LICENSE
*.testsettings
vsts-docs
test
readme
docs
deploy
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/
!**/wwwroot/lib/signalr/*
!**/wwwroot/lib/toastr/*
global.json
**/appsettings.localhost.json